<div class="principal-container">

    <div class="d-flex justify-content-center">
      <button class="button p-2 mt-57 tp-wd50 tp-h5" (click)="abrirModaForm()">Adicionar Lista</button>
    </div>
    <div class="cards-container">
      <div *ngFor="let lista of listas | async">
        <app-principal-card 
        [titulo]="lista.titulo" 
        [id]="lista.id"
        (emitDelete)="executaDelete($event)"        
        ></app-principal-card>
      </div>
    </div>
</div>

<div *ngIf="modalOpen">
  <app-modal-lista-form
    [modalOpen]="modalOpen"
    (emitFechaModal)="recebendoModalEvent()"
  ></app-modal-lista-form>
</div>
