<div *ngIf="modalOpen">

  <div class="modal-overlay">
    <div class="modal-container">
      <a class="modal-close" (click)="modalFecha()">
        <i class="fa fa-times"></i>
      </a>
      <h1 class="modal-title p-2">{{ TextoModal }}</h1>
      <div class="modal-btn-container">
        <a  (click)="modalConfirma()" class="modal-btn divisor-btn p-1">
          <i class="fa fa-check fa-2x tp-h4"></i>
        </a>
        <a  class="modal-btn p-1" (click)="modalFecha()" >
          <i class="fa fa-times fa-2x tp-h4"></i>
        </a>
      </div>
    </div>
  </div>

</div>
