<div class="card-container">
  <h1 class="card-title p-2 text-center">{{titulo}}</h1>
  <div class="btn-card-container">
    <a class="p-2 card-btn divisor-card" (click)="abrirLista()"><i class="fa fa-list fa-1x tp-h4"></i></a>
    <a class="p-2 card-btn" (click)="abrirModal()" ><i class="fa fa-trash fa-1x tp-h4"></i></a>
  </div>
</div>

<div *ngIf="modalOpen">
  <app-modal-confirma
    [modalOpen]="modalOpen"
    [modalTipo]="modalTipo"
    [TextoModal]="textoModal"
    [id]="id"
    (emitFechaModal)="recebendoModal()"
    (emitConfirma)="confirmaDelete()"
  >
  </app-modal-confirma>
</div>
